<div class="dayschedule">
    <dayschedule schedule="$ctrl.schedule.monday"groups="$ctrl.groups" day="$ctrl.monday"></dayschedule>
</div>
<div class="dayschedule">
    <dayschedule schedule="$ctrl.schedule.tuesday" groups="$ctrl.groups" day="$ctrl.tuesday"></dayschedule>
</div>
<div class="dayschedule">
    <dayschedule schedule="$ctrl.schedule.wednesday" groups="$ctrl.groups" day="$ctrl.wednesday"></dayschedule>
</div>
<div class="dayschedule">
    <dayschedule schedule="$ctrl.schedule.thursday" groups="$ctrl.groups" day="$ctrl.thursday"></dayschedule>
</div>
<div class="dayschedule">
    <dayschedule schedule="$ctrl.schedule.friday" groups="$ctrl.groups" day="$ctrl.friday"></dayschedule>
</div>